*
  position relative
  box-sizing border-box

html, body 
  margin 0
  background-color #000
  font-family sans-serif
  overflow hidden

html, body, .App
  height 100%
  width 100%

.App
  display flex
  flex-flow column nowrap

.Editor
  flex-grow 1
  display flex
  flex-flow row nowrap
  align-items stretch
  justify-content center

  svg 
    width 100%

.Overlay
  position absolute
  top 0
  left 0
  padding 5px
  color white
  z-index 1001

.Toolbar
  background #000
  height 48px
  display flex
  flex-flow row nowrap

  button
    background none
    border 1px solid white
    color white
    margin 5px
    letter-spacing 1px
    min-width 72px

    &.active
      background white
      color black

.Spacer
  flex-grow 1

.Piano
  margin 5px 5px 0
