class {
  onCreate ({ model }) {
    this.state = require('../Model/initial')
    model.observe(this)
  }
}

.App
  include('./Overlay', state)
  include('./Editor',  state)
  include('./Piano',   state) if(state.showPiano)
  include('./Toolbar', state)
