class {
  onCreate ({ model }) {
    this.state = require('../Model/initial')
    model.observe(this)
  }
}

.App
  include('./editor',  state)
  include('./piano',   state)
  include('./toolbar', state)
