.Node
  .Node_Head
    strong -- ${input.key}
    .Spacer
    if (typeof input.value !== 'object') -- ${input.value}
  .Node_Body if(typeof input.value === 'object')
    include('./Nodes', input.value)
