.Toolbar
  button -- <strong>P</strong>AUSE
  button -- <strong>L</strong>OOP
  button -- <strong>U</strong>NDO
  button -- <strong>R</strong>EDO
  .Spacer
  button -- <strong>M</strong>ARK (0)
  button -- <strong>I</strong>NSERT
  button -- <strong>O</strong>VERDUB
